$background-dark: rgb(43, 43, 43);
$color-white: white;
$color-lightgreen: rgb(0, 217, 99);
$line-darkgreen: 1px solid #01de897e;
$line-transparent: 0px solid black;
$line-lightgreen: 1px solid rgb(0, 217, 99);

%icon-gray-arrow {
    background-position: -1280px -1164px;
    background-repeat: no-repeat;
    height: 24px;
    width: 15px;
}



// Top
#header {
    background: $background-dark !important;
    .header_inner {
        .lnb li a{
            color: $color-white;
        }
        .lnb li a:hover{
            color: $color-lightgreen;
        }
        .sta span a{
            color: $color-white;
        }
        
    }
}

// Body
#container {
    #content {
        background: $background-dark;
        .main_daily_wrap {
            background: $background-dark;
            border-bottom: $line-darkgreen;
            .daily_tab_wrap{
                background: $background-dark;
                border-top: $line-darkgreen;
                border-bottom: $line-darkgreen;
                
                .daily_tab_inner .daily_tab li button{
                    color: $color-white;
                }
                .daily_tab_inner .daily_tab li button:hover {
                    color: $color-lightgreen; 
                }
            }
        }
        .main_hotnew_wrap {
            background: $background-dark;
            border-top: $line-transparent;
            border-bottom: $line-transparent;
            .main_hotnew h2{
                color: $color-white;
            }
        }
        .main_genre_wrap {
            background: $background-dark;
            border-top: $line-darkgreen;
            border-bottom: $line-darkgreen;
            .main_genre h2 a{
                color: $color-white;
                .ico_arr1{
                    @extend %icon-gray-arrow;
                    transform: scale(0.6);
                }
            }
            
        }
        .ranking_lst {
            .left_area, .right_area {
                #newTitleRanking, #genreRanking {
                    .title_area h2 {
                        a {  /* New & Trending and ORIGINALS by Genre */
                            color: $color-white;
                        }
                        .ico_arr1 {
                            @extend %icon-gray-arrow;
                            transform: scale(0.5);
                            margin-top: -3px;
                        }
                    }
                    .lst_type1 {
                        border-bottom: $line-lightgreen;
                        li {
                            border-top: $line-lightgreen;
                            border-bottom: $line-lightgreen;
                            a .info_area p {
                                color: $color-white;
                            }
                        }
                    }
                }
            }
        }
        #_challengeRoundUpList {
            border-top: $line-darkgreen;
            .main_challenge {
                background: $background-dark;
                .title_area p{
                    color: $color-white;
                }
            }
        }
        

    }
}

#footer {
    background: $background-dark !important;
    border-top: $line-lightgreen !important;
    .notice_area {
        background: $background-dark;
        border-bottom: $line-lightgreen !important;
        .notice_detail a .ico_arr3{
            @extend %icon-gray-arrow;
            transform: scale(0.5);
            margin-top: -3px;
        }
        span, a {
            color: $color-white;
        }
    }
    .foot_app {
        border-bottom: $line-lightgreen;
        span, a, p{ 
            color: $color-white;
        }
    }
    .foot_menu {
        li a:not(li ul li a){
            color: $color-white;
        }
    }
    
    
    
}