#header {
  background: rgb(43, 43, 43) !important;
  border-bottom: 1px solid rgba(1, 222, 137, 0.4941176471) !important;
}
#header .header_inner .lnb li a {
  color: white;
}
#header .header_inner .lnb li a:hover {
  color: rgb(0, 217, 99);
}
#header .header_inner .sta span a {
  color: white;
}

#footer .notice_area .notice_detail a .ico_arr3, #container #content .ranking_lst .left_area #newTitleRanking .title_area h2 .ico_arr1, #container #content .ranking_lst .left_area #genreRanking .title_area h2 .ico_arr1, #container #content .ranking_lst .right_area #newTitleRanking .title_area h2 .ico_arr1, #container #content .ranking_lst .right_area #genreRanking .title_area h2 .ico_arr1, #container #content .main_genre_wrap .main_genre h2 a .ico_arr1 {
  background-position: -1280px -1164px;
  background-repeat: no-repeat;
  height: 24px;
  width: 15px;
}

#container #content {
  background: rgb(43, 43, 43);
}
#container #content .main_daily_wrap {
  background: rgb(43, 43, 43);
  border-bottom: 1px solid rgba(1, 222, 137, 0.4941176471);
}
#container #content .main_daily_wrap .daily_tab_wrap {
  background: rgb(43, 43, 43);
  border-top: 1px solid rgba(1, 222, 137, 0.4941176471);
  border-bottom: 1px solid rgba(1, 222, 137, 0.4941176471);
}
#container #content .main_daily_wrap .daily_tab_wrap .daily_tab_inner .daily_tab li button {
  color: white;
}
#container #content .main_daily_wrap .daily_tab_wrap .daily_tab_inner .daily_tab li button:hover {
  color: rgb(0, 217, 99);
}
#container #content .main_hotnew_wrap {
  background: rgb(43, 43, 43);
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}
#container #content .main_hotnew_wrap .main_hotnew h2 {
  color: white;
}
#container #content .main_genre_wrap {
  background: rgb(43, 43, 43);
  border-top: 1px solid rgba(1, 222, 137, 0.4941176471);
  border-bottom: 1px solid rgba(1, 222, 137, 0.4941176471);
}
#container #content .main_genre_wrap .main_genre h2 a {
  color: white;
}
#container #content .main_genre_wrap .main_genre h2 a .ico_arr1 {
  transform: scale(0.6);
}
#container #content .ranking_lst .left_area #newTitleRanking .title_area h2 a, #container #content .ranking_lst .left_area #genreRanking .title_area h2 a, #container #content .ranking_lst .right_area #newTitleRanking .title_area h2 a, #container #content .ranking_lst .right_area #genreRanking .title_area h2 a { /* New & Trending and ORIGINALS by Genre */
  color: white;
}
#container #content .ranking_lst .left_area #newTitleRanking .title_area h2 .ico_arr1, #container #content .ranking_lst .left_area #genreRanking .title_area h2 .ico_arr1, #container #content .ranking_lst .right_area #newTitleRanking .title_area h2 .ico_arr1, #container #content .ranking_lst .right_area #genreRanking .title_area h2 .ico_arr1 {
  transform: scale(0.5);
  margin-top: -3px;
}
#container #content .ranking_lst .left_area #newTitleRanking .lst_type1, #container #content .ranking_lst .left_area #genreRanking .lst_type1, #container #content .ranking_lst .right_area #newTitleRanking .lst_type1, #container #content .ranking_lst .right_area #genreRanking .lst_type1 {
  border-bottom: 1px solid rgb(0, 217, 99);
}
#container #content .ranking_lst .left_area #newTitleRanking .lst_type1 li, #container #content .ranking_lst .left_area #genreRanking .lst_type1 li, #container #content .ranking_lst .right_area #newTitleRanking .lst_type1 li, #container #content .ranking_lst .right_area #genreRanking .lst_type1 li {
  border-top: 1px solid rgb(0, 217, 99);
  border-bottom: 1px solid rgb(0, 217, 99);
}
#container #content .ranking_lst .left_area #newTitleRanking .lst_type1 li a .info_area p, #container #content .ranking_lst .left_area #genreRanking .lst_type1 li a .info_area p, #container #content .ranking_lst .right_area #newTitleRanking .lst_type1 li a .info_area p, #container #content .ranking_lst .right_area #genreRanking .lst_type1 li a .info_area p {
  color: white;
}
#container #content .ranking_lst .left_area #newTitleRanking .lst_type1 li a .num_area .ico_n1, #container #content .ranking_lst .left_area #newTitleRanking .lst_type1 li a .num_area .ico_n2, #container #content .ranking_lst .left_area #newTitleRanking .lst_type1 li a .num_area .ico_n3, #container #content .ranking_lst .left_area #newTitleRanking .lst_type1 li a .num_area .ico_n4, #container #content .ranking_lst .left_area #newTitleRanking .lst_type1 li a .num_area .ico_n5, #container #content .ranking_lst .left_area #genreRanking .lst_type1 li a .num_area .ico_n1, #container #content .ranking_lst .left_area #genreRanking .lst_type1 li a .num_area .ico_n2, #container #content .ranking_lst .left_area #genreRanking .lst_type1 li a .num_area .ico_n3, #container #content .ranking_lst .left_area #genreRanking .lst_type1 li a .num_area .ico_n4, #container #content .ranking_lst .left_area #genreRanking .lst_type1 li a .num_area .ico_n5, #container #content .ranking_lst .right_area #newTitleRanking .lst_type1 li a .num_area .ico_n1, #container #content .ranking_lst .right_area #newTitleRanking .lst_type1 li a .num_area .ico_n2, #container #content .ranking_lst .right_area #newTitleRanking .lst_type1 li a .num_area .ico_n3, #container #content .ranking_lst .right_area #newTitleRanking .lst_type1 li a .num_area .ico_n4, #container #content .ranking_lst .right_area #newTitleRanking .lst_type1 li a .num_area .ico_n5, #container #content .ranking_lst .right_area #genreRanking .lst_type1 li a .num_area .ico_n1, #container #content .ranking_lst .right_area #genreRanking .lst_type1 li a .num_area .ico_n2, #container #content .ranking_lst .right_area #genreRanking .lst_type1 li a .num_area .ico_n3, #container #content .ranking_lst .right_area #genreRanking .lst_type1 li a .num_area .ico_n4, #container #content .ranking_lst .right_area #genreRanking .lst_type1 li a .num_area .ico_n5 {
  filter: invert(100%);
}
#container #content #_challengeRoundUpList {
  border-top: 1px solid rgba(1, 222, 137, 0.4941176471);
}
#container #content #_challengeRoundUpList .main_challenge {
  background: rgb(43, 43, 43);
}
#container #content #_challengeRoundUpList .main_challenge .title_area p {
  color: white;
}
#container #content div[style*="margin: 69px auto auto auto; width: 1208px; position: relative;"] #dailyList.daily_lst h2#ongoing {
  border-bottom: 1px solid rgb(0, 217, 99);
  color: white;
}
#container #content div[style*="margin: 69px auto auto auto; width: 1208px; position: relative;"] #dailyList.daily_lst .daily_section h3 a {
  color: white;
}
#container #content div[style*="margin: 69px auto auto auto; width: 1208px; position: relative;"] #dailyList.daily_lst .daily_section h3 a:hover {
  color: rgb(0, 217, 99);
}
#container #content div[style*="margin: 69px auto auto auto; width: 1208px; position: relative;"] #dailyList.daily_lst .daily_section h3 a:before {
  background-color: rgb(0, 217, 99);
}
#container #content div[style*="margin: 69px auto auto auto; width: 1208px; position: relative;"] .daily_lst.comp .daily_section.on h2#completed {
  color: white;
}
#container #content .snb_wrap.daily._snb_wrap {
  background: rgb(43, 43, 43);
  border-top: 1px solid rgba(1, 222, 137, 0.4941176471);
  border-bottom: 1px solid rgba(1, 222, 137, 0.4941176471);
}
#container #content .snb_wrap.daily._snb_wrap .snb_inner ul.snb._type_selector li a {
  color: white;
}
#container #content .snb_wrap.daily._snb_wrap .snb_inner ul.snb._type_selector li a:hover {
  color: rgb(0, 217, 99);
}
#container #content .snb_wrap.daily._snb_wrap .snb_inner ul.snb._type_selector li a:before {
  background-color: rgb(0, 217, 99);
}
#container #content .snb_wrap {
  background: rgb(43, 43, 43);
  border-top: 1px solid rgba(1, 222, 137, 0.4941176471);
  border-bottom: 1px solid rgba(1, 222, 137, 0.4941176471);
}
#container #content .snb_wrap .snb_inner .snb._genre li a {
  color: white;
}
#container #content .snb_wrap .snb_inner .snb._genre li a:hover {
  color: rgb(0, 217, 99);
}
#container #content .snb_wrap .snb_inner .snb._genre li a:before {
  background-color: rgb(0, 217, 99);
}
#container #content .snb_sub_genre {
  background: rgb(43, 43, 43);
  border-bottom: 1px solid rgba(1, 222, 137, 0.4941176471);
}
#container #content .snb_sub_genre .ly_lst_genre.as_genre li a {
  color: white;
}
#container #content .snb_sub_genre .ly_lst_genre.as_genre li a:hover {
  color: rgb(0, 217, 99);
}
#container #content .snb_sub_genre .ly_lst_genre.as_genre li a:before {
  background-color: rgb(0, 217, 99);
}
#container #content .snb_wrap.popular .snb_inner .snb._ranking_tab li a {
  color: white;
}
#container #content .snb_wrap.popular .snb_inner .snb._ranking_tab li a:hover {
  color: rgb(0, 217, 99);
}
#container #content .snb_wrap.popular .snb_inner .snb._ranking_tab li a:before {
  background-color: rgb(0, 217, 99);
}
#container #content .popular_wrap .ranking_lst.popular .title_area h2 {
  color: white;
}
#container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li {
  border-bottom: 1px solid rgb(0, 217, 99);
}
#container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li.ranking_top a .info_area .subj, #container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li.ranking_top a .info_area .author, #container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li.ranking_top a .info_area .summary span {
  color: white;
}
#container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li a .info_area .subj, #container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li a .info_area .author {
  color: white;
}
#container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li a .num_area .ico_n2, #container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li a .num_area .ico_n3, #container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li a .num_area .ico_n4, #container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li a .num_area .ico_n5, #container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li a .num_area .ico_n6, #container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li a .num_area .ico_n7, #container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li a .num_area .ico_n8, #container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li a .num_area .ico_n9, #container #content .popular_wrap .ranking_lst.popular ul.lst_type1 li a .num_area .ico_n10 {
  filter: invert(100%);
}
#container #content .popular_wrap .ranking_lst.popular ul.ranking_tab {
  border-bottom: 1px solid rgba(1, 222, 137, 0.4941176471);
  border-top: 1px solid rgba(1, 222, 137, 0.4941176471);
}
#container #content .snb_wrap .snb_inner .snb.challenge li a {
  color: white;
}
#container #content .snb_wrap .snb_inner .snb.challenge li a:before {
  background-color: rgb(0, 217, 99);
}
#container #content .cont_box.v2 .discover_cont_area .weekly_hot_area h2, #container #content .cont_box.v2 .discover_cont_area .popular_genre_area h2 {
  color: white;
}
#container #content .cont_box.v2 .discover_cont_area .popular_genre_area .genre_menu li a {
  color: white;
}
#container #content .cont_box.v2 .discover_cont_area .popular_genre_area .genre_menu ._genreListItem.on a {
  color: rgb(0, 217, 99) !important;
}
#container #content .cont_box.v2 .discover_cont_area ._btnMore {
  color: white;
}
#container #content .cont_box.v2 .discover_cont_area ._btnMore .ico_arr {
  filter: invert(100%);
}

#footer {
  background: rgb(43, 43, 43) !important;
  border-top: 1px solid rgb(0, 217, 99) !important;
}
#footer .notice_area {
  background: rgb(43, 43, 43);
  border-bottom: 1px solid rgb(0, 217, 99) !important;
}
#footer .notice_area .notice_detail a .ico_arr3 {
  transform: scale(0.5);
  margin-top: -3px;
}
#footer .notice_area span, #footer .notice_area a {
  color: white;
}
#footer .foot_app {
  border-bottom: 1px solid rgb(0, 217, 99);
}
#footer .foot_app span, #footer .foot_app a, #footer .foot_app p {
  color: white;
}
#footer .foot_menu li a:not(li ul li a) {
  color: white;
}/*# sourceMappingURL=webtns.css.map */