@import "./icons";

// Body
#container {
    #content {
        background: $background-dark;
        .main_daily_wrap {
            background: $background-dark;
            border-bottom: $line-darkgreen;
            .daily_tab_wrap{
                background: $background-dark;
                border-top: $line-darkgreen;
                border-bottom: $line-darkgreen;
                
                .daily_tab_inner .daily_tab li button{
                    color: $color-white;
                }
                .daily_tab_inner .daily_tab li button:hover {
                    color: $color-lightgreen; 
                }
            }
        }
        .main_hotnew_wrap {
            background: $background-dark;
            border-top: $line-transparent;
            border-bottom: $line-transparent;
            .main_hotnew h2{
                color: $color-white;
            }
        }
        .main_genre_wrap {
            background: $background-dark;
            border-top: $line-darkgreen;
            border-bottom: $line-darkgreen;
            .main_genre h2 a{
                color: $color-white;
                .ico_arr1{
                    @extend %icon-gray-arrow;
                    transform: scale(0.6);
                }
            }
            
        }
        .ranking_lst {
            .left_area, .right_area {
                #newTitleRanking, #genreRanking {
                    .title_area h2 {
                        a {  /* New & Trending and ORIGINALS by Genre */
                            color: $color-white;
                        }
                        .ico_arr1 {
                            @extend %icon-gray-arrow;
                            transform: scale(0.5);
                            margin-top: -3px;
                        }
                    }
                    .lst_type1 {
                        border-bottom: $line-lightgreen;
                        li {
                            border-top: $line-lightgreen;
                            border-bottom: $line-lightgreen;
                            a .info_area p {
                                color: $color-white;
                            }
                            a .num_area {
                                .ico_n1, .ico_n2, .ico_n3, .ico_n4, .ico_n5 {
                                    filter: $filter-invert;
                                }
                            }
                        }
                    }
                }
            }
        }
        #_challengeRoundUpList {
            border-top: $line-darkgreen;
            .main_challenge {
                background: $background-dark;
                .title_area p{
                    color: $color-white;
                }
            }
        }
        // Originals
        div[style*="margin: 69px auto auto auto; width: 1208px; position: relative;"] {
            #dailyList.daily_lst {
                h2#ongoing{
                    border-bottom: $line-lightgreen;
                    color: $color-white;
                }
                .daily_section {
                    h3 a{
                        color: $color-white;
                    }
                    h3 a:hover{
                        color: $color-lightgreen;
                    }
                    h3 a:before{
                        background-color: $color-lightgreen;
                    }
                }
            }
            .daily_lst.comp .daily_section.on h2#completed{
                color: $color-white;
            }
        }
        .snb_wrap.daily._snb_wrap {
            background: $background-dark;
            border-top: $line-darkgreen;
            border-bottom: $line-darkgreen;
            .snb_inner {
                ul.snb._type_selector{
                    li a{
                        color: $color-white;
                    }
                    li a:hover{
                        color: $color-lightgreen;
                    }
                    li a:before{
                        background-color: $color-lightgreen;
                    }
                }
            }
        }
        // Genre
        .snb_wrap{
            background: $background-dark;
            border-top: $line-darkgreen;
            border-bottom: $line-darkgreen;
            .snb_inner .snb._genre li a {
                color: $color-white;
            }
            .snb_inner .snb._genre li a:hover{
                color: $color-lightgreen;
            }
            .snb_inner .snb._genre li a:before {
                background-color: $color-lightgreen;
            }
        }
        .snb_sub_genre {
            background: $background-dark;
            border-bottom: $line-darkgreen;
            .ly_lst_genre.as_genre li a{
                color: $color-white;
            }
            .ly_lst_genre.as_genre li a:hover{
                color: $color-lightgreen;
            }
            .ly_lst_genre.as_genre li a:before {
                background-color: $color-lightgreen;
            }
        }
        // Popular
        .snb_wrap.popular {
            .snb_inner {
                .snb._ranking_tab {
                    li a {
                        color: $color-white;
                    }
                    li a:hover {
                        color: $color-lightgreen;
                    }
                    li a:before {
                        background-color: $color-lightgreen;
                    }
                }
            }
        }
        .popular_wrap {
            .ranking_lst.popular{
                .title_area h2{
                    color: $color-white;
                }
                ul.lst_type1 {
                    li {
                        border-bottom: $line-lightgreen;
                    }
                    li.ranking_top a .info_area {
                        .subj, .author, .summary span {
                            color: $color-white;
                        }
                    }
                    li a .info_area {
                        .subj, .author {
                            color: $color-white;
                        }
                    }
                    li a .num_area {
                        .ico_n2, .ico_n3, .ico_n4, .ico_n5, .ico_n6, .ico_n7, .ico_n8, .ico_n9, .ico_n10 {
                            filter: $filter-invert;
                        }
                    }
                }
                ul.ranking_tab {
                    border-bottom: $line-darkgreen;
                    border-top: $line-darkgreen;
                }
            }
        }
        // Canvas
        .snb_wrap .snb_inner{
            .snb.challenge {
                li a {
                    color: $color-white;
                }
                li a:before {
                    background-color: $color-lightgreen;
                }

            }
        }
        .cont_box.v2 .discover_cont_area {
            .weekly_hot_area h2, .popular_genre_area h2{
                color: $color-white;
            }
            .popular_genre_area .genre_menu li a {
                color: $color-white;
            }
            .popular_genre_area .genre_menu ._genreListItem.on a {
                color: $color-lightgreen !important;
            }
            ._btnMore {
                color: $color-white;
                .ico_arr {
                    filter: $filter-invert;
                }
            }
        }
    }
}