#footer {
    background: $background-dark !important;
    border-top: $line-lightgreen !important;
    .notice_area {
        background: $background-dark;
        border-bottom: $line-lightgreen !important;
        .notice_detail a .ico_arr3{
            @extend %icon-gray-arrow;
            transform: scale(0.5);
            margin-top: -3px;
        }
        span, a {
            color: $color-white;
        }
    }
    .foot_app {
        border-bottom: $line-lightgreen;
        span, a, p{ 
            color: $color-white;
        }
    }
    .foot_menu {
        li a:not(li ul li a){
            color: $color-white;
        }
    }
    
    
    
}