$background-dark: rgb(43, 43, 43);
$color-white: white;
$color-lightgreen: rgb(0, 217, 99);
$line-darkgreen: 1px solid #01de897e;
$line-transparent: 0px solid black;
$line-lightgreen: 1px solid rgb(0, 217, 99);

